.profile__about {
  margin: 16px 0 0 0;
  padding: 0;
  text-align: left;
  color: #FFFFFF;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 950px) {
    .profile__about {
        margin: 14px 0 0 0;
        font-size: 14px;
        text-align: center;
    }
  }