.header {
  max-width: 880px;
  display: flex;
  justify-content: flex-start;
  margin: 45px 200px 36px 200px;
  padding: 0 0 40px 0;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 700px) {
  .header {
    margin: 0 0 38px 0;
    padding: 28px 27px 32px 27px;
  }
}
