.modal__form-item {
  margin-bottom: 30px;
  padding-bottom: 9px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #000000;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal__form-item:last-of-type {
  margin-bottom: 48px;
}

.modal__form-item:focus {
  outline: none;
}