.profile__info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  @media screen and (max-width: 950px) {
    .profile__info {
      flex-direction: column;
    }
  }