.modal__box {
  margin: auto;
  width: 430px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .modal__box {
    width: 282px;
  }
}
