.button {
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
  
  .button:hover {
    opacity: 0.6;
  }